<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-contents">
        <%= link_to image_tag("logo.png", class: "header-logo"), :rooms %>
        
        <div>
          <%= form_with url: rooms_search_path, method: :get, class: "header-form-contents" do |f| %>
            <%= f.text_field :area, placeholder: "エリア検索", class: "header-form" %>
            <%= f.submit "検索", class: "header-search" %>
          <% end %>
          
          <%= form_with url: rooms_search_path, method: :get, class: "header-form-contents" do |f| %>
            <%= f.text_field :keyword, placeholder: "キーワード検索", class: "header-form" %>
            <%= f.submit "検索", class: "header-search" %>
          <% end %>
        </div>
        
        <% if logged_in? %>
          <%= render "shared/logged_in" %>
        <% else %>
          <%= render "shared/not_logged_in" %>
        <% end %>
      </div>
    </header>
    
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    
    <footer>
      <%= image_tag "logo.png" %>
    </footer>
  </body>
</html>
